@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color-header: #0F52BA;
  --color-text-white: #fff;
  --color-text-black: #000;
  --bg-color-footer: #EEE;
  --color-primary-blue: #0F52BA;
  --color-title-item: #2C2C2C;
}

body{
  font-family: 'Montserrat', sans-serif;
}